[user]
    name = Massoud Boorboor
    email = boorboor@gmail.com
    signingkey = 3236520BC1654D472D5D5E28068CFD621D4263B1
[push]
    default = simple
[alias]
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    l = log --pretty=oneline --graph --abbrev-commit -20
    ll = log --pretty=format:'%h || %ar || %an || %s'
    lf = log --pretty=format:'%h %an %s ' --name-status
    search = log -S
    conflict = diff --name-only --diff-filter=U
    unstage = reset HEAD --
    last = log -1 HEAD
[core]
    excludesfile = $HOME/.gitignore_global
    editor = vim
[color]
	ui = auto
[remote "origin"]
	prune = true
[commit]
	gpgsign = true
