[user]
    name = Massoud Boorboor
    email = boorboor@gmail.com
[push]
    default = simple
[alias]
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status --short
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

[core]
	excludesfile = /home/dev/.gitignore_global
	editor = vim
[color]
	ui = auto
[http]
[diff]
