[user]
    name = Massoud Boorboor
    email = boorboor@gmail.com
[push]
    default = simple
[alias]
    l = log --pretty=oneline --graph --abbrev-commit -20
    ll = log --pretty=format:'%h || %ar || %an || %s' --graph
    lf = log --pretty=format:'%h %s' --name-status
    sc = log --oneline -S

    s = status --short
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

[core]
	excludesfile = /home/dev/.gitignore_global
	editor = vim
[color]
	ui = auto
[remote "origin"]
	prune = true
